version: "3.9"

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant_textbook
    ports:
      - "6335:6333"
    volumes:
      - ./qdrant_data:/qdrant/storage
    restart: unless-stopped
